body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
  padding: 10px;
}

.container {
  text-align: center;
  max-width: 500px;
  width: 100%;
  background: white;
  padding: 0px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h3 {
  margin: 0px 0px 5px 0px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0;
}

input, button {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #007BFF;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  text-align: left;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  input, button {
    font-size: 15px;
  }
}